<!--<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />-->
<!--<input type="checkbox" id="check">
<label for="check">
  <i class="material-symbols-outlined" id="btn"></i>
</label>-->
<!--<app-urgent></app-urgent>-->
<!--<app-livefeed></app-livefeed>-->
<!--<div class="video-array">

  <ng-container *ngFor="let camInfo of camerasInfo; let i = index">
    <div (click)="viewVidDetail(i)">-->
      <!-- <webcam
              [height]="500"
              [width]="500"
              [videoOptions]="videoOptions"
              [allowCameraSwitch]="true"
              [switchCamera]="camInfo.nextCamOb" ></webcam> -->
      <!--<video autoplay src="assets/sample-5s.mp4" style="width:500px;"></video>
    </div>
  </ng-container>

  <ul>
    <li *ngFor="let sensor of sensorService.getAllSensors()">{{sensor.name}}</li>
  </ul>
  <ul>
    <li *ngFor="let control of controlService.getAllControls()">{{control.name}} - {{control.state}} </li>-->
    <!--<li> *ngFor="let control of controlService.turnOn()">{{control.state}}</li>-->

  <!--</ul>
  <h4>Here are your precious little plants:</h4>
  <div class="svg-cont">
    <app-svg></app-svg>
  </div>
</div>-->

<h1>Home Page</h1>

<app-livefeed-view></app-livefeed-view>
